---
function familyQuestionnaireform() {
    function priceToNumber(price: number) {
        return Number(price.toString().replace(/,/g, ''));
    }
    return {
        value: {
            numberOfProperties: 0,
            monthlyCashflow: 0,
            totalValue: 0,
            totalOwed: 0,
        },
        step: 1,
        submit() {
            console.log(this.value.totalValue);
            window.location.href = `/family-calculation-results?numberOfProperties=${this.value.numberOfProperties}&monthlyCashflow=${priceToNumber(this.value.monthlyCashflow)}&totalValue=${priceToNumber(this.value.totalValue)}&totalOwed=${priceToNumber(this.value.totalOwed)}`;
        },
        nextStep() {
            this.step += 1;
        },
        back() {
            this.step -= 1;
        },
    };
}
---

<div class="card">
    <form
        class="form"
        x-data={familyQuestionnaireform}
        @submit.prevent="submit"
    >
        <slot />
    </form>
</div>
<style lang="scss">
    .background {
        position: absolute;
        width: 32rem;
        height: 30rem;
        z-index: -1;
        overflow: hidden;
        animation: var(--animation-grow-strong);
        animation-delay: 0.4s;
    }
    .card {
        background-color: var(--color-teal-dark);
        width: 25rem;
        color: var(--color-neutral-light);
        padding: 2.5rem;
        border-radius: 1rem;
        overflow: hidden;
        flex-grow: 1;
        transition: var(--transition);
    }
    .card:hover {
        transform: scale(1.01);
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
</style>
