---
const data = Astro.props.data;
const maxValue = `numberToPrice(years()[30].${data})`;
const value = `numberToPrice(year.${data})`;

function accordion() {
    return {
        open: true,
        toggle() {
            this.open = !this.open;
        },
    };
}
---

<div class="accordion" x-data={accordion}>
    <div @click="toggle">
        <div class="accordion-toggle">
            {Astro.props.title}
            <svg
                :style="{'transform': open ? 'rotate(90deg)' : 'rotate(0deg)'}"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                    d="M8.59 7.41L13.17 12L8.59 16.59L10 18L16 12L10 6L8.59 7.41Z"
                    fill="currentColor"></path></svg
            >
        </div>
    </div>
    <div class="accordion-content" :class="{'open': open}">
        <template x-for="(year, i) in selectedYears">
            <div class="accordion-item">
                <span x-text="'Year ' + i"></span>
                <div>
                    $ <span x-text={value}></span>
                </div>
            </div>
        </template>
    </div>
</div>

<style>
    .accordion {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: 1px solid var(--color-teal-dark);
        border-radius: 1rem;
        padding: 0.5rem;
        height: fit-content;
        background-color: var(--color-neutral-light);
        z-index: 3;
        transition: var(--transition);
        transition-duration: 0.1;
        width: 100%;
        margin-right: auto;
        transition: var(--transition);
    }

    .accordion {
        border: 1px solid var(--color-orange-dark);
    }

    .accordion:hover .accordion-toggle {
        color: var(--color-orange-dark);
    }

    .accordion-toggle {
        transition: var(--transition);
        cursor: pointer;
        font-size: 15px;
    }

    @media (max-width: 1200px) {
        .accordion {
            width: 100%;
        }
    }

    .open {
        transition: var(--transition);
        height: 18em !important;
    }

    .accordion-toggle {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
    }

    .accordion-pricing {
        font-size: 2rem;
    }

    .accordion-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    .accordion-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        overflow: hidden;
        height: 0px;
        transition: var(--transition);
    }

    .accordion-item {
        display: flex;
        justify-content: space-between;
        padding: 0 0.5rem;
        transition: var(--transition);
        border-radius: 0.5rem;
        cursor: pointer;
        text-wrap: nowrap;
    }

    .accordion-item:hover {
        color: var(--color-neutral-light);
        background-color: var(--color-orange-dark);
    }
</style>
